@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cormorant Garamond', serif;
  background-image: url('https://media.lesechos.com/api/v1/images/view/645f465ad2618e0f93512445/1280x720/090150600386-web-tete.jpg');
  background-size: cover, cover, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-attachment: fixed, fixed, fixed;
  animation: background-slide 15s infinite;
}

h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

input, button {
  font-family: 'Cormorant Garamond', serif;
}

button {
  background-color: #8B0000; /* Rouge sang */
}
